StkUiPlugins/CSharp/GroundVehicleFromDirections/Stk12.GroundVehicleFromDirections/Service References/BingRouteService/contracts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://dev.virtualearth.net/webservices/v1/route/contracts" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://dev.virtualearth.net/webservices/v1/route/contracts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dev.virtualearth.net/webservices/v1/route/contracts/Imports">
      <xsd:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/routeservice/routeservice2.xsd" namespace="http://dev.virtualearth.net/webservices/v1/route/contracts" />
      <xsd:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/routeservice/routeservice.xsd" namespace="http://dev.virtualearth.net/webservices/v1/common" />
      <xsd:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/routeservice/routeservice1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/routeservice/routeservice3.xsd" namespace="http://dev.virtualearth.net/webservices/v1/route" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRouteService_CalculateRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateRoute" />
  </wsdl:message>
  <wsdl:message name="IRouteService_CalculateRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IRouteService_CalculateRoute_ResponseSummaryFault_FaultMessage">
    <wsdl:part xmlns:q1="http://dev.virtualearth.net/webservices/v1/common" name="detail" element="q1:ResponseSummary" />
  </wsdl:message>
  <wsdl:message name="IRouteService_CalculateRoutesFromMajorRoads_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateRoutesFromMajorRoads" />
  </wsdl:message>
  <wsdl:message name="IRouteService_CalculateRoutesFromMajorRoads_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateRoutesFromMajorRoadsResponse" />
  </wsdl:message>
  <wsdl:message name="IRouteService_CalculateRoutesFromMajorRoads_ResponseSummaryFault_FaultMessage">
    <wsdl:part xmlns:q2="http://dev.virtualearth.net/webservices/v1/common" name="detail" element="q2:ResponseSummary" />
  </wsdl:message>
  <wsdl:portType name="IRouteService">
    <wsdl:operation name="CalculateRoute">
      <wsdl:input wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRoute" message="tns:IRouteService_CalculateRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRouteResponse" message="tns:IRouteService_CalculateRoute_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRouteResponseSummaryFault" name="ResponseSummaryFault" message="tns:IRouteService_CalculateRoute_ResponseSummaryFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateRoutesFromMajorRoads">
      <wsdl:input wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRoutesFromMajorRoads" message="tns:IRouteService_CalculateRoutesFromMajorRoads_InputMessage" />
      <wsdl:output wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRoutesFromMajorRoadsResponse" message="tns:IRouteService_CalculateRoutesFromMajorRoads_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRoutesFromMajorRoadsResponseSummaryFault" name="ResponseSummaryFault" message="tns:IRouteService_CalculateRoutesFromMajorRoads_ResponseSummaryFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>